<div class="container theme-showcase" role="main">
    <div class="row">
        <div ng-show="showAlertSucess" class="alert alert-success" role="alert"><p>{{flashMessage}}</p></div>
        <div ng-show="showAlertError" class="alert alert-danger" role="alert"><p>{{flashErrors}}</p></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Courses</div>
                    <div class="panel-body">
                        <form ng-submit="addCourse(Startate,DepartureAdress,DestinationAddress,EndDate)" class="form-group">
                            <label for="Startate">Startate</label>
                            <input type="text" name="Depart" class="form-control" ng-model="Startate" />
                            <label for="DepartureAdress">Destination address</label>
                            <input type="text" name="DepartureAdress" class="form-control" ng-model="DepartureAdress" />
                            <label for="DestinationAddress">Arrival address</label>
                            <input type="text" name="DestinationAddress" class="form-control" ng-model="DestinationAddress" />
                            <label for="EndDate">EndDate</label>
                            <input type="text" name="EndDate" class="form-control" ng-model="EndDate" />
                            <br />
                            <input type="submit" class="btn btn-default" value="Add course" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

