<div class="container theme-showcase" role="main">
    <div class="row">
        <div ng-show="showAlertSucess" class="alert alert-success" role="alert"><p>{{flashMessage}}</p></div>
        <div ng-show="showAlertError" class="alert alert-danger" role="alert"><p>{{flashErrors}}</p></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Courses</div>
                    <div class="panel-body">
                        <a href="#/addCourse">Create new course</a>
                        <button class="btn btn-default" ng-click="getCourses()">Get My courses</button>
                    </div>
            </div>
                <!-- Table -->
                <h3 class="text-center">All your courses for this travel</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Starting point</th>
                            <th>Departure date</th>
                            <th>Arrival point</th>
                            <th>Arrival date</th>
                            <th>Transport method</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="course in courses">
                            <th scope="row">{{course.Position}}</th>
                            <td>{{course.DepartureAddress}}</td>
                            <td>{{course.Startate}}</td>
                            <td>{{course.DestinationAddress}}</td>
                            <td>{{course.EndDate}}</td>
                            <td>{{course.TransportName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
