<div class="container theme-showcase" role="main">
    <div class="row">
        <div ng-show="showAlertSucess" class="alert alert-success" role="alert"><p>{{flashMessage}}</p></div>
        <div ng-show="showAlertError" class="alert alert-danger" role="alert"><p>{{flashErrors}}</p></div>

        <div class="col-md-12">
            <!-- Table -->
            <h3 class="text-center">All your days for this travel</h3>
            <button class="btn btn-default" ng-click="onAddDay()">
                Add day
            </button>
            {{dayList}}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Budget</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="day in days">
                        <th>{{day.Position}}</th>
                        <td>{{day.Date}}</td>
                        <td>{{day.Budget}} $</td>
                        <td>
                            <a href="javascript:void(0)" ng-click="onDestinations(day)" >Destinations</a>
                            | <a href="javascript:void(0)" ng-click="onEditDay(day)" >Edit</a>
                            | <a href="javascript:void(0)" ng-click="onDeleteDay(day.Id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>