

div#loading {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 99;
    display: none;
}

div#loading > img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
