<div class="modal fade" id="new-travel-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="closeModal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title">Create a new travel</h4>

            </div>
            <form ng-submit="CreateTravel()">
                <div class="modal-body">

                    <div ng-show="showAlertSucess" class="alert alert-success" role="alert"><p>{{flashMessage}}</p></div>
                    <div ng-show="showAlertError" class="alert alert-danger" role="alert"><p>{{flashErrors}}</p></div>

                    <div class="form-group" ng-class="{'has-error' : titleErrorMessage}">
                        <label>Title :</label>
                        <input type="text" name="title" ng-model="traveltitle" class="form-control" placeholder="Title" />
                        <span ng-show="titleErrorMessage" class="help-block">{{titleErrorMessage}}</span>
                    </div>

                    <hr>

                    <div class="form-group" ng-class="{'has-error' : setDurationMethodErrorMessage}">

                        <span ng-show="setDurationMethodErrorMessage" class="help-block">{{setDurationMethodErrorMessage}}</span>

                        <div class="btn-group btn-group-justified">

                            <a name="btn_createbydays" ng-click="SetChoiceByDays()" class="btn btn-default">Set duration by days...</a>
                            <a name="btn_createbydays" ng-click="SetChoiceByDates()" class="btn btn-default">Set duration from dates...</a>
                        </div>
                    </div>

                    <div ng-show="showByDates" class="form-group">

                        <div class="form-group" ng-class="{'has-error' : dateTakeOffDropDownInputErrorMessage}">
                            <label>Take off :</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dateTakeOffDropDownInput" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <!--<input type="text" class="form-control" data-ng-model="data.dateTakeOffDropDownInput" placeholder="Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->

                                        <input type="text" class="form-control" data-ng-model="data.dateTakeOffDropDownInput" placeholder="Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <!--<datetimepicker data-ng-model="data.dateTakeOffDropDownInput" data-on-set-time="onTimeSetStart(newDate, oldDate)" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />-->

                                    <datetimepicker data-ng-model="data.dateTakeOffDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dateTakeOffDropDownInput' }" />
                                </ul>
                            </div>
                            <span ng-show="dateTakeOffDropDownInputErrorMessage" class="help-block">{{dateTakeOffDropDownInputErrorMessage}}</span>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error' : dateArrivalDropDownInputErrorMessage}">
                            <label>Arrival :</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="data.dateArrivaleDropDownInput" placeholder="Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="data.dateArrivaleDropDownInput" data-on-set-time="onTimeSetEnd(newDate, oldDate)" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }" />
                                </ul>
                            </div>
                            <span ng-show="dateArrivalDropDownInputErrorMessage" class="help-block">{{dateArrivalDropDownInputErrorMessage}}</span>
                        </div>

                    </div>

                    <div ng-show="showByDays" class="form-group" ng-class="{'has-error' : nbDaysErrorMessage}">
                        <label>Number of days :</label>
                        <input type="number" name="nbrofdays" ng-model="nbrofdays" class="form-control" placeholder="Days" />
                        <span ng-show="nbDaysErrorMessage" class="help-block">{{nbDaysErrorMessage}}</span>
                    </div>

                    <hr>

                    <div class="form-group" ng-class="{'has-error' : budgetErrorMessage}">
                        <label>Budget :</label>
                        <div class="input-group">
                            <input type="number" name="budget" ng-model="budget" min="1" class="form-control" placeholder="Budget" />
                            <span class="input-group-addon">$</span>
                        </div>
                        <span ng-show="budgetErrorMessage" class="help-block">{{budgetErrorMessage}}</span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="closeModal()">Cancel</button>
                    <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-plane"></span> Start travel</button>
                </div>
            </form>
        </div>
    </div>
</div>